header {
  position: relative;
  padding: 30px 10px;
  text-align: center;
}
header > h1 {
  font-size: 34px;
}
header > a {
  font-size: 20px;
}
.api .container {
	margin: auto;
	max-width: 310px;
}
.api .container > * > div {
  display: block;
}
.api .description {
  padding: 10px 20px;
  text-align: center;
}
.api h2 {
  text-align: center;
}
.api h2 span {
  position: absolute;
  padding-left: 5px;
}