@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);
@import url('tablet.css') (max-width: 749px);
@import url('mobile.css') (max-width: 499px);
@import url('desktop.css') (min-width: 750px);
@font-face {
  font-family: "Code";
  src: url(/res/fonts/CODELight.otf);
}
@font-face {
  font-family: "Code";
  src: url(/res/fonts/CODEBold.otf);
  font-weight: bold;
}
html, body {
  font-family: Lato, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #555555;
}
a {
  text-decoration: none;
  color: #555555;
}
a:hover {
  color: #EB7405;
}
a.picto:before {
  content: '\25b6';
  color: #EB7405;
  padding-right: 5px;
}
.button {
  border: 1px solid #EB7405;
  color: #FFF3E9;
  padding: 7px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #EB7405;
  text-align: center;
}
a.button:hover {
  border: 1px solid #A24E00;
  color: #FFFFFF;
}
.button.disabled {
  border: 1px solid #EB7405;
  color: #EB7405;
  background-color: #FFF3E9;
}
.icon {
  margin: auto;
  background-color: #EB7405;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.home-body h2 {
  font-family: 'Code', Lato;
  text-transform: uppercase;
  color: #000000;
}
.right {
  float: right;
}
menu {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}
menu img {
  margin-top: 4px;
}
header {
  font-family: 'Code', Lato;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000;
}
header > * {
  display: block;
  max-width: 800px;
  margin: auto;
  color: #FFF;
}
header > h1 {
  font-weight: 100;
}
header > a {
  font-weight: 700;
}
.container {
  position: relative;
  max-width: 800px;
  margin: auto;
}
.sdk {
  position: relative;
  padding: 40px 0px;
}
.sdk:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.15;
  background-image: url(/res/img/texture.png);
}
.api {
  position: relative;
  background-color: #EEEEEE;
  padding: 40px 0px;
}
.api .container > * {
  display: table;
  padding: 10px;
}
.api .container > a:hover {
  background-color: #D7D7D7;
  color: inherit;
}
.api .container > * > div {
  display: table-cell;
}
.api .icon {
  display: inline-block;
  background-color: #278A6E;
  width: 50px;
  height: 50px;
}
.api .icon img {
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
}
.api .description {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
.api h2 {
  margin: 0px;
}
.api h2 span {
  color: #EB7405;
  font-family: Lato;
  font-size: 11px;
  vertical-align: super;
  font-weight: normal;
}
.markdown-body{
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  width:600px;
  margin:auto;
}
