<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/res/css/markdown.css"/>
	<link rel="stylesheet" href="/res/css/styles.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Dial Once">
    <meta name="description" content="Welcome to the Dial Once documentation. Find how to use our SDK, API and much more.">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="icon" type="image/png" href="{{site.data.cdn.url}}img/dialonce-icon-128.png" />
</head>
<body cz-shortcut-listen="true">
	<div class="wrapper">
		{%include header.html%}
		{% assign index = nil %}
		{% if page.url != "/index.html" %}
			{% assign current = 'markdown-body' %}
		{% else %}
			{% assign current = 'home-body' %}
		{% endif %}
	    <section class="{{ current }}">
			{{ content }}
		</section>
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-52671852-5");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</div>
    <script src="/res/js/scale.fix.js"></script>
</body>
</html>