<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="/stylesheets/reset.css"/>
	<link rel="stylesheet" href="/stylesheets/markdown.css"/>
	<link rel="stylesheet" href="/stylesheets/styles.css"/>
	<link rel="stylesheet" href="/octicons/octicons.css">

	<meta name="author" content="Dial Once" />
	<meta name="description" content="{{ page.description }}"/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="icon" type="image/png" href="{{site.data.cdn.url}}img/dialonce-icon-128.png" />
</head>
<body>
	<div class="wrapper">
		{%include header.md%}
		{% assign index = nil %}
		{% if page.url != "/index.html" %}
			{% assign current = 'markdown-body' %}
		{% else %}
			{% assign current = 'wrapper' %}
		{% endif %}
	    <section class="{{ current }}">
			{{ content }}
		</section>
		{%include footer.md%}
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-52671852-5");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>